@import url("https://fonts.googleapis.com/css2?family=Actor&display=swap");
body {
  font-family: "Actor", sans-serif;
}
a {
  color: white;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

* {
  margin: 0;
  padding: 0%;
}
button {
  outline: none;
  border: none;
  box-shadow: none;
}
